#userData{
    display: none;
    width: 1200px;
    height: 500px;
    overflow: auto;
    margin: 20px;
}

.wrap {
    width: 1280px;
    margin: 40px auto;
}

.isCached {
    background-color: #F08080;
    padding: 5px;
    border-radius: 5px;
}